*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(215, 250, 195, 1.0) /*rgba(0,150,0,0.5)*/;
    align-items: center;
}


    header h1, header h3 {
        text-align: right;
        color: rgb(10, 69, 17);
        margin-right: 0;
    }

header {
    text-align: center;
}

.logo {
    display: block;
    width: 100px;
    height: auto;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

    nav a {
        color: rgb(10, 69, 17); /* Text color */
        text-decoration: none;
        margin-right: 30px;
        font-size: 20px;
        font-weight:bold;
    }


nav a:hover {
    color: rgb(242, 187, 5);
}

.menu-btn {
    display: none;
    padding: 20px 10px 22px 10px;
}

@media (max-width: 768px) {
    header {
        text-align: center;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
    }

    nav {
        left: 0;
        top: 0;
        height: 100%;
        width: auto;
        display: grid;
        background-color:rgba(0,150,0,0.7);
    }

    nav :hover {
        color: rgb(242, 187, 5);
        background-color:yellow;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: rgb(232, 245, 233);
    }

        .menu a {
            color: rgb(10, 69, 17);
            text-decoration: none;
            padding: 15px;
            border-bottom: 1px solid rgba(255,255,255,0.2);
        }

    .menu a:hover{
        background:#2f5d34;
    }

    .menu.show{
        display:grid;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .menu-btn {
        display: flex;
        font-size: 28px;
        background-color: rgba(215, 250, 195, 1.0);
        color: rgb(10, 69, 17);
        border: none;
        border-radius: 5px;
        width: 70px;
        height: 100%;
        cursor: pointer;
        margin-left: auto;
        justify-content: center;
        align-items: center;
    }

}